### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [61]:
total_player=len(purchase_data['SN'].unique())
total_player

576

* Display the total number of players

In [7]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
item = purchase_data['Item ID'].unique()
total_item = len(item)
total_item

183

In [31]:
total_purchase=purchase_data['Purchase ID'].count()
total_purchase

780

In [28]:
avg_price= purchase_data['Price'].mean()
avg_price

3.050987179487176

In [47]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [41]:
summary_df=pd.DataFrame({
    'Number of Item Purchased': [total_item],
    'Number of Transactions': total_purchase,
    'Average Price': avg_price,
    'Total Revenue':total_revenue  
})
summary_df

,Number of Item Purchased,Number of Transactions,Average Price,Total Revenue
0,183,780,3.050987,2379.77

In [50]:
#formatting
#summary_df.dtypes
summary_df['Average Price']=summary_df['Average Price'].map('${:.2f}'.format)
summary_df['Total Revenue']=summary_df['Total Revenue'].map('${:.2f}'.format)
summary_df.head()

,Number of Item Purchased,Number of Transactions,Average Price,Total Revenue
0,183,780,$3.05,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [63]:
#player=purchase_data['SN'].unique()
purchase_data['SN'].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Chamimla85       3
Iskadarya95      3
                ..
Frichaya88       1
Palyon91         1
Ardonmol96       1
Chamjaskya75     1
Yalostiphos68    1
Name: SN, Length: 576, dtype: int64

In [86]:
gender_count=purchase_data.groupby('Gender')['SN'].unique()
gender_count

Gender
Female                   [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male                     [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other / Non-Disclosed    [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object

In [100]:
female_count=len(gender_count.loc['Female'])
male_count=len(gender_count.loc['Male'])
other_count=total_player - female_count - male_count
#percentage
percent_female=(female_count/total_player)*100
percent_male=(male_count/total_player)*100
percent_nondisclosed=(other_count/total_player)*100

In [103]:
gender_df=pd.DataFrame({
    'Number of Female Player': [female_count],
    '% of Female Player': [percent_female],
    'Number of Male Player': [male_count],
    '% of Male Player':[percent_male],
    'Number of Non-Disclosed Gender':[other_count],
    '% of Non-Disclosed Gender':[percent_nondisclosed]
    
})
gender_df

,Number of Female Player,% of Female Player,Number of Male Player,% of Male Player,Number of Non-Disclosed Gender,% of Non-Disclosed Gender
0,81,14.0625,484,84.027778,11,1.909722

In [108]:
gender_summary=pd.DataFrame({
    '': ['Female','Male','Other/Non-Disclosed'],
    'Number of Players': [female_count, male_count, other_count],
    'Percentage of Players': [percent_female, percent_male, percent_nondisclosed]
    
})
gender_summary

                        Number of Players  Percentage of Players
0               Female                 81              14.062500
1                 Male                484              84.027778
2  Other/Non-Disclosed                 11               1.909722

In [109]:
gender_summary['Percentage of Players']=gender_summary['Percentage of Players'].map('{:.2f}%'.format)
gender_summary

                        Number of Players Percentage of Players
0               Female                 81                14.06%
1                 Male                484                84.03%
2  Other/Non-Disclosed                 11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [117]:
purchase_count_per_player=purchase_data.groupby('SN')['Item ID'].count()
avg_price_per_player=purchase_data.groupby('SN')['Price'].mean()
total_purchase_per_player=purchase_data.groupby('SN')['Price'].sum()

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Item ID, Length: 576, dtype: int64

In [110]:
purchase_data['SN'].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Chamimla85       3
Iskadarya95      3
                ..
Frichaya88       1
Palyon91         1
Ardonmol96       1
Chamjaskya75     1
Yalostiphos68    1
Name: SN, Length: 576, dtype: int64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame