### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [50]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [68]:
#purchase_data.count()
#analysis = purchase_data.describe()
item_purchased = purchase_data["Item ID"].value_counts()

item_purchased_df = pd.DataFrame(item_purchased)
item_purchased_df.reset_index(inplace=True)
item_purchased_df.columns = ["Item ID", "Count"]

item_purchased_df

     Item ID  Count
0        178     12
1         82      9
2        108      9
3        145      9
4         92      8
..       ...    ...
178       42      1
179      118      1
180      104      1
181       27      1
182       51      1

[183 rows x 2 columns]

In [78]:
# avgerage item purchased
avg_item_price =pd.DataFrame(purchase_data.groupby("Item ID")["Price"].mean())
#["Item ID"]["Price"].mean()
#avg_item_price.reset_index(inplace=True)
#avg_item_price.columns = ["Item ID", "Price"]
#avg_item_price_df=pd.DataFrame(avg_item_price)
avg_item_price

         Price
Item ID
0         1.28
1         3.26
2         2.48
3         2.49
4         1.70
...        ...
179       4.48
180       3.36
181       1.66
182       4.03
183       1.09

[183 rows x 1 columns]

In [81]:
#summary on Item purchased and avg price: 
item_price_df = pd.merge(item_purchased_df,avg_item_price,on="Item ID")
item_price_df

     Item ID  Count  Price
0        178     12   4.23
1         82      9   4.90
2        108      9   3.53
3        145      9   4.58
4         92      8   4.88
..       ...    ...    ...
178       42      1   1.75
179      118      1   2.17
180      104      1   1.93
181       27      1   3.30
182       51      1   4.66

[183 rows x 3 columns]

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame