### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [406]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [407]:
total_player=len(purchase_data['SN'].unique())
total_player

576

* Display the total number of players

In [408]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [409]:
item = purchase_data['Item ID'].unique()
total_item = len(item)
total_item

183

In [410]:
total_purchase=purchase_data['Purchase ID'].count()
total_purchase

780

In [411]:
avg_price= purchase_data['Price'].mean()
avg_price

3.050987179487176

In [412]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [413]:
summary_df=pd.DataFrame({
    'Number of Item Purchased': [total_item],
    'Number of Transactions': total_purchase,
    'Average Price': avg_price,
    'Total Revenue':total_revenue  
})
summary_df

,Number of Item Purchased,Number of Transactions,Average Price,Total Revenue
0,183,780,3.050987,2379.77

In [414]:
#formatting
#summary_df.dtypes
summary_df['Average Price']=summary_df['Average Price'].map('${:.2f}'.format)
summary_df['Total Revenue']=summary_df['Total Revenue'].map('${:.2f}'.format)
summary_df.head()

,Number of Item Purchased,Number of Transactions,Average Price,Total Revenue
0,183,780,$3.05,$2379.77

In [415]:
summary_df.to_csv("purchase_summary.csv", index=False, header=True)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [416]:
#player=purchase_data['SN'].unique()
purchase_data['SN'].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Chamimla85       3
Iskadarya95      3
                ..
Frichaya88       1
Palyon91         1
Ardonmol96       1
Chamjaskya75     1
Yalostiphos68    1
Name: SN, Length: 576, dtype: int64

In [417]:
gender_count=purchase_data.groupby('Gender')['SN'].unique()
gender_count

Gender
Female                   [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male                     [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other / Non-Disclosed    [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object

In [418]:
female_count=len(gender_count.loc['Female'])
male_count=len(gender_count.loc['Male'])
other_count=total_player - female_count - male_count
#percentage
percent_female=(female_count/total_player)*100
percent_male=(male_count/total_player)*100
percent_nondisclosed=(other_count/total_player)*100

In [419]:
gender_df=pd.DataFrame({
    'Number of Female Player': [female_count],
    '% of Female Player': [percent_female],
    'Number of Male Player': [male_count],
    '% of Male Player':[percent_male],
    'Number of Non-Disclosed Gender':[other_count],
    '% of Non-Disclosed Gender':[percent_nondisclosed]
    
})
gender_df

,Number of Female Player,% of Female Player,Number of Male Player,% of Male Player,Number of Non-Disclosed Gender,% of Non-Disclosed Gender
0,81,14.0625,484,84.027778,11,1.909722

In [420]:
gender_summary=pd.DataFrame({
    '': ['Female','Male','Other/Non-Disclosed'],
    'Number of Players': [female_count, male_count, other_count],
    'Percentage of Players': [percent_female, percent_male, percent_nondisclosed]
    
})
gender_summary

                        Number of Players  Percentage of Players
0               Female                 81              14.062500
1                 Male                484              84.027778
2  Other/Non-Disclosed                 11               1.909722

In [421]:
gender_summary['Percentage of Players']=gender_summary['Percentage of Players'].map('{:.2f}%'.format)
gender_summary

                        Number of Players Percentage of Players
0               Female                 81                14.06%
1                 Male                484                84.03%
2  Other/Non-Disclosed                 11                 1.91%

In [422]:
gender_summary.to_csv("Gender_Summary.csv", index=False, header=True)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [423]:
#purchase_groupby_player=purchase_data.groupby(['SN','Gender'])['Item ID'].count()
#purchase_groupby_player

In [424]:
purchase_by_gender=purchase_data['Gender'].value_counts()
#purchase_by_male=purchase_data.loc[purchase_data['Gender']=='Male'].count()
#purchase_by_female=purchase_data.loc[purchase_data['Gender']=='Female'].count()
purchase_by_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [425]:
avg_purchaseprice_per_player=purchase_data.groupby('Gender')['Price'].mean()
avg_purchaseprice_per_player

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [426]:
total_purchase_per_player=purchase_data.groupby('Gender')['Price'].sum()
total_purchase_per_player

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [427]:
avg_purchase_per_male=total_purchase_per_player['Male']/male_count
avg_purchase_per_female=total_purchase_per_player['Female']/female_count
avg_purchase_per_nondisclosegender=total_purchase_per_player['Other / Non-Disclosed']/other_count

In [428]:
#table summary:
gender_purchase_summary=pd.DataFrame({
    '': ['Female','Male','Other/Non-Disclosed'],
    'Number of Purchase': [purchase_by_gender['Female'], purchase_by_gender['Male'], purchase_by_gender['Other / Non-Disclosed']],
    'Average Purchase Price': [avg_purchaseprice_per_player['Female'], avg_purchaseprice_per_player['Male'],avg_purchaseprice_per_player['Other / Non-Disclosed']],
    'Total Purchase Value': [total_purchase_per_player['Female'],total_purchase_per_player['Male'],total_purchase_per_player['Other / Non-Disclosed']],
    'Average Total Purchase per Person': [avg_purchase_per_male, avg_purchase_per_female, avg_purchase_per_nondisclosegender]
                             })
gender_purchase_summary

,,Number of Purchase,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,3.203009,361.94,4.065372
1,Male,652,3.017853,1967.64,4.468395
2,Other/Non-Disclosed,15,3.346000,50.19,4.562727

In [429]:
gender_purchase_summary['Average Purchase Price']=gender_purchase_summary['Average Purchase Price'].map('${:.2f}'.format)
gender_purchase_summary['Total Purchase Value']=gender_purchase_summary['Total Purchase Value'].map('${:,.2f}'.format)
gender_purchase_summary['Average Total Purchase per Person']=gender_purchase_summary['Average Total Purchase per Person'].map('${:.2f}'.format)
gender_purchase_summary

,,Number of Purchase,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.07
1,Male,652,$3.02,"$1,967.64",$4.47
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [430]:
gender_purchase_summary.to_csv("Purchase_Analysis_by_Gender.csv", index=False, header=True)

## Age Demographics

In [431]:
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ['<10','10 - 14','15 - 19','20 - 24','25 - 29', '30 - 34','35 - 39','40+']
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels=age_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 - 24

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [435]:

total_player_age_group = purchase_data.groupby('Age Group')['SN'].count()
#if I only did age_group_count.groupby('Age Group').count() -- still worked but the data is in a dataframe -- so the next cell wasnt able to run calculations on the dataframe
#so I did group by age then get the numbers of the player using ['SN'].count()
total_player_age_group

Age Group
<10         23
10 - 14     28
15 - 19    136
20 - 24    365
25 - 29    101
30 - 34     73
35 - 39     41
40+         13
Name: SN, dtype: int64

In [436]:
percent_group1 = total_player_age_group['<10']/total_player
percent_group2 = total_player_age_group['10 - 14']/total_player
percent_group3 = total_player_age_group['15 - 19']/total_player
percent_group4 = total_player_age_group['20 - 24']/total_player
percent_group5 = total_player_age_group['25 - 29']/total_player
percent_group6 = total_player_age_group['30 - 34']/total_player
percent_group7 = total_player_age_group['35 - 39']/total_player
percent_group8 = total_player_age_group['40+']/total_player

#print(percent_group1,percent_group2,percent_group3,percent_group4, percent_group5, percent_group6, percent_group7, percent_group8)

In [437]:
age_summary=pd.DataFrame({
    '': ['<10','10 - 14','15 - 19','20 - 24','25 - 29', '30 - 34','35 - 39','40+'],
    'Total Count':[total_player_age_group['<10'],total_player_age_group['10 - 14'],total_player_age_group['15 - 19'],total_player_age_group['20 - 24'],total_player_age_group['25 - 29'],total_player_age_group['30 - 34'],total_player_age_group['35 - 39'],total_player_age_group['40+']],
    'Percentage of Players':[percent_group1,percent_group2,percent_group3,percent_group4, percent_group5, percent_group6, percent_group7, percent_group8]
})
age_summary['Percentage of Players']=age_summary['Percentage of Players'].map('{:.2f}%'.format)
age_summary.head()

            Total Count Percentage of Players
0      <10           23                 0.04%
1  10 - 14           28                 0.05%
2  15 - 19          136                 0.24%
3  20 - 24          365                 0.63%
4  25 - 29          101                 0.18%

In [438]:
age_summary.to_csv("Age_Demographics_Summary.csv", index=False, header=True)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [434]:
age_group_count = purchase_data.groupby('Age Group')['Purchase ID'].value_counts()
age_group_count
#print(len(age_group_count['<10'])) ==> 23

Age Group  Purchase ID
<10        27             1
           33             1
           37             1
           78             1
           81             1
                         ..
40+        557            1
           667            1
           674            1
           728            1
           761            1
Name: Purchase ID, Length: 780, dtype: int64

In [ ]:
avg_price_by_age = purchase_data.groupby('Age Group')['Price'].mean()
total_purchase_by_age = purchase_data.groupby('Age Group')['Price'].sum()
#avg_price_by_age
#total_purchase_by_age

In [ ]:
avg_purchase_age_group1=  total_purchase_by_age['<10']/total_player_age_group['<10']
avg_purchase_age_group2=  total_purchase_by_age['10 - 14']/total_player_age_group['10 - 14']
avg_purchase_age_group3=  total_purchase_by_age['15 - 19']/total_player_age_group['15 - 19']
avg_purchase_age_group4=  total_purchase_by_age['20 - 24']/total_player_age_group['20 - 24']
avg_purchase_age_group5=  total_purchase_by_age['25 - 29']/total_player_age_group['25 - 29']
avg_purchase_age_group6=  total_purchase_by_age['30 - 34']/total_player_age_group['30 - 34']
avg_purchase_age_group7=  total_purchase_by_age['35 - 39']/total_player_age_group['35 - 39']
avg_purchase_age_group8=  total_purchase_by_age['40+']/total_player_age_group['40+']

In [ ]:
purchase_by_age_summary=pd.DataFrame({
    '': ['<10','10 - 14','15 - 19','20 - 24','25 - 29', '30 - 34','35 - 39','40+'],
    'Total Purchase':[len(age_group_count['<10']),len(age_group_count['10 - 14']),len(age_group_count['15 - 19']),len(age_group_count['20 - 24']),len(age_group_count['25 - 29']),len(age_group_count['30 - 34']),len(age_group_count['35 - 39']),len(age_group_count['40+'])],
    'Average Purchase Price':[avg_price_by_age['<10'],avg_price_by_age['10 - 14'],avg_price_by_age['15 - 19'],avg_price_by_age['20 - 24'],avg_price_by_age['25 - 29'],avg_price_by_age['30 - 34'],avg_price_by_age['35 - 39'],avg_price_by_age['40+']],
    'Total Purchase Value':[total_purchase_by_age['<10'],total_purchase_by_age['10 - 14'],total_purchase_by_age['15 - 19'],total_purchase_by_age['20 - 24'],total_purchase_by_age['25 - 29'],total_purchase_by_age['30 - 34'],total_purchase_by_age['35 - 39'],total_purchase_by_age['40+']],
    'Avgerage Purchase per Person':[avg_purchase_age_group1, avg_purchase_age_group2, avg_purchase_age_group3, avg_purchase_age_group4, avg_purchase_age_group5, avg_purchase_age_group6,avg_purchase_age_group7,avg_purchase_age_group8]
})
purchase_by_age_summary['Average Purchase Price']=purchase_by_age_summary['Average Purchase Price'].map('${:.2f}'.format)
purchase_by_age_summary['Total Purchase Value']=purchase_by_age_summary['Total Purchase Value'].map('${:.2f}'.format)
purchase_by_age_summary['Avgerage Purchase per Person']=purchase_by_age_summary['Avgerage Purchase per Person'].map('${:.2f}'.format)

In [ ]:
purchase_by_age_summary

In [ ]:
purchase_by_age_summary.to_csv('Purchase_Analysis_by_Age.csv',index=False, header=True)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
spender_count = pd.DataFrame(purchase_data.groupby('SN')['Purchase ID'].count())
#top_spender_count=spender_count.sort_values(ascending=False)
#top_spender_count

In [ ]:
avg_purchasevalue_per_player = pd.DataFrame(purchase_data.groupby('SN')['Price'].mean())
#avg_purchase_per_player['Lisosia93']
total_purchasevalue_per_player = pd.DataFrame(purchase_data.groupby('SN')['Price'].sum())
#total_purchasevalue_per_player['Lisosia93']

In [ ]:
spender_count_price_merge=pd.merge(spender_count,avg_purchasevalue_per_player,on='SN')

In [ ]:
spender_summary=pd.merge(spender_count_price_merge,total_purchasevalue_per_player,on="SN")
spender_summary

In [ ]:
spender_summary=spender_summary.rename(columns={
    "Price_x":"Average Purchase Price",
    "Price_y":"Total Purchase Value"
})
top_spender_summary = spender_summary.sort_values('Total Purchase Value',ascending=False)
top_spender_summary

In [ ]:
top_spender_summary['Total Purchase Value']=top_spender_summary['Total Purchase Value'].map('${:.2f}'.format)
top_spender_summary['Average Purchase Price']=top_spender_summary['Average Purchase Price'].map('${:.2f}'.format)

In [ ]:
top_spender_summary.head()
top_spender_summary.to_csv('Top_Spender_Analysis.csv',index=False, header=True)

## Most Popular Items

In [553]:
item_df=purchase_data.loc[:,['Item ID','Item Name','Price']]
#item_df.head()
#item_df.dtypes
item_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [561]:

item_price=pd.DataFrame(item_df.groupby('Item Name')['Price'].max())
#item_price.dtypes
item_price['Price']=item_price['Price'].map('${:.2f}'.format)
item_price.reset_index(inplace=True)
item_price

                           Item Name  Price
0                      Abyssal Shard  $2.67
1     Aetherius, Boon of the Blessed  $3.39
2                             Agatha  $3.08
3                              Alpha  $2.07
4                Alpha, Oath of Zeal  $4.05
..                               ...    ...
174                             Wolf  $3.54
175  Wolf, Promise of the Moonwalker  $4.48
176                     Worldbreaker  $2.60
177                 Yearning Crusher  $4.18
178               Yearning Mageblade  $3.82

[179 rows x 2 columns]

In [565]:
#popular_item = purchase_data.groupby('Item Name')['Purchase ID'].count()
item_total_value = pd.DataFrame(item_df.groupby('Item Name')['Price'].sum())
item_ID_count=pd.DataFrame(item_df.groupby('Item Name')['Item ID'].count())

item_total_value.reset_index(inplace=True)
item_total_value['Price']=item_total_value['Price'].map('${:.2f}'.format)
item_total_value
#popular_item_total_value--179 rows

                           Item Name   Price
0                      Abyssal Shard  $13.35
1     Aetherius, Boon of the Blessed  $16.95
2                             Agatha  $18.48
3                              Alpha   $6.21
4                Alpha, Oath of Zeal  $12.15
..                               ...     ...
174                             Wolf  $28.32
175  Wolf, Promise of the Moonwalker  $26.88
176                     Worldbreaker  $10.40
177                 Yearning Crusher  $12.54
178               Yearning Mageblade  $19.10

[179 rows x 2 columns]

In [570]:
item_price_count_df=pd.merge(item_price,item_ID_count,on='Item Name')
item_price_count_df=item_price_count_df.rename(columns=
{'Price':'Item Price',
 'Item ID': 'Purchase Count'
})
item_price_count_df

                           Item Name Item Price  Purchase Count
0                      Abyssal Shard      $2.67               5
1     Aetherius, Boon of the Blessed      $3.39               5
2                             Agatha      $3.08               6
3                              Alpha      $2.07               3
4                Alpha, Oath of Zeal      $4.05               3
..                               ...        ...             ...
174                             Wolf      $3.54               8
175  Wolf, Promise of the Moonwalker      $4.48               6
176                     Worldbreaker      $2.60               4
177                 Yearning Crusher      $4.18               3
178               Yearning Mageblade      $3.82               5

[179 rows x 3 columns]

In [573]:
popular_item_summary=pd.merge(item_price_count_df,item_total_value, on='Item Name')
popular_item_summary=popular_item_summary.rename(columns=
                                                {
                                                    'Price':'Total Purchase Value'
                                                })
popular_item_summary_df=popular_item_summary.sort_values("Purchase Count",ascending=False)
popular_item_summary_df.head()

,Item Name,Item Price,Purchase Count,Total Purchase Value
56,Final Critic,$4.88,13,$59.99
93,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
98,Persuasion,$3.33,9,$28.99
92,Nirvana,$4.90,9,$44.10
51,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [574]:
popular_item_summary_df.to_csv('Popular Item Summary.csv',index=False, header=True)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame